name: Docs

on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
            uses: actions/checkout@master

            - name: vuepress-deploy
            uses: jenkey2011/vuepress-deploy@master
            env:
                ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
                BUILD_SCRIPT: yarn && yarn docs:build
                BUILD_DIR: docs/.vuepress/dist
